body {
    background-color: #1e1e1e;
}

.btn-gold {
    background-color: #e2ba46;
    font-weight: bolder !important;
}

img {
    max-width: 100% !important;
}

/* .container {
    min-width: 1240px !important;
} */

b-content {
    padding-bottom: 25px;
}

.help-box {
    border-radius: 10px;
    margin-top: 25px;
    padding: 0px 75px;
}

.help-box ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    /* height: 210px; */
}

.help-box ul li a {
    display: flex;
}

.help-box ul li {
    display: flex;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    top: 0px;
}

.help-box ul li:hover {
    position: relative;
    top: -6px;
}

.help-info h4 {
    color: #5e676c;
    font-weight: bold;
    margin-top: 15px;
    font-size: 16px;
}

/* .help-ico {
    margin-right: 15px;
} */

.cm-sn {
    border: 3px solid #cd4a98;
    text-align: center;
    border-radius: 10px;
    padding: 3px 10px;
    color: #cd4a98;
    margin-top: 10px;
    font-size: 12px;
}

.help-info p {
    line-height: 19px;
    text-transform: uppercase;
    margin-top: 5px;
}

/********************************** Index content **********************************/
.ind-in ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    position: relative;
}

.ind-in ul li a {
    position: relative;
    display: flex;
}

.txt-ind {
    position: absolute;
    top: 0px;
    color: #620090;
    text-shadow: 1px 1px 1px #252525;
    font-weight: bold;
    font-size: 28px;
}

.btn-zoom {
    transition: transform 0.2s;
}

.btn-zoom:hover {
    transform: scale(1.03);
}

.ind-in ul li a .txt-ind {
    transition: transform 0.2s;
}

.ind-in ul li a:hover .txt-ind {
    transform: scale(1.03);
}

.ind-in-2 ul li a .txt-ind {
    transition: transform 0.2s;
}

.ind-in-2 ul li a:hover .txt-ind {
    transform: scale(1.03);
}

.ind-sg {
    position: absolute;
    top: 70px;
    right: 55px;
}

.ind-sport {
    position: absolute;
    top: 49px;
    left: 100px;
}

.ind-casino {
    position: absolute;
    top: 20px;
    left: 85px;
}

.ind-in ul li:nth-child(2) {
    position: absolute;
    right: 0px;
    top: 22px;
}

.ind-in ul li:nth-child(3) {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

img.btn-zoom {
}

.ind-in-2 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    position: relative;
}

.ind-in-2 ul li a {
    position: relative;
    display: flex;
}

.ind-in-2 ul li:nth-child(2) {
    position: absolute;
    right: 0px;
}

.ind-in-2 {
    margin-top: 10px;
}

.ind-live {
    position: absolute;
    top: 35px;
    right: 100px;
}

.ind-other {
    position: absolute;
    top: 35px;
    left: 45px;
}
.navbar .navbar-nav>li>a:hover{
     color: #FFFF !important;
     background-color:#343a40 !important;
}
.navbar .navbar-nav  .active .nav-link {
     color: #FFFF !important;
     background-color:#343a40 !important;
}
/* custom css for card*/
.animate span:nth-of-type(2) {
    animation-delay: .05s;
}
.three span {
    font-weight: 900;
}
.three span {
    color: #ffffff;
    opacity: 0;
    transform: translate(-300px, 0) scale(0);
    animation: sideSlide 5s infinite;
}


.box-casino{
    position: relative;
    background: linear-gradient(to right, #055340, #1d1d1d, #0F2027) ;
    overflow: hidden;
   -moz-transition: transform ease .3s;
    -o-transition: transform ease .3s;
    -webkit-transition: transform ease .3s;
    transition: transform ease .3s;
    margin-bottom: 10px;
    border: 1px solid rgb(20 128 94 / 40%);
}
.box-casino:hover span:nth-child(1), 
.box-casino:hover span:nth-child(2), 
.box-casino:hover span:nth-child(3), 
.box-casino:hover span:nth-child(4){
    opacity: 1;
}
.box-casino span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #FFEB3B);
    animation: animate1 2s linear infinite;
    opacity: 0;
    z-index: 1;
}
.box-casino  span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #FFEB3B); 
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
    opacity: 0;
    z-index: 1;
}

.box-casino  span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to left, transparent, #FFEB3B); 
    animation: animate3 2s linear infinite;
    opacity: 0;
    z-index: 1;
}

.box-casino  span:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #FFEB3B ); 
    animation: animate4 2s linear infinite;
    opacity: 0;
    animation-delay: 1s;
    z-index: 1;
}

@keyframes animate1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes animate2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

@keyframes animate3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
.cas_overlay {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    z-index: 36;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cas_overlay a {
    display: block;
    margin: -55px auto;
    width: 130px;
    line-height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
}
.box-casino:hover .cas_overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
}
/* For mobile phones: */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
.account{
  margin-right: 34px;
  /* width: 100%; */
}
.igames789{
    margin-left: 33px;
}
.header_top{
    background-color: red;
}
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
.account{
   margin-right: 34px;
  /* width: 100%; */
}
.igames789{
    margin-left: 33px;
}

.header_to{
    background-color: red;
}

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

 }

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */